$primary-color: #da680f; /* hex code (218, 104, 15) */
$secondary-color: #FFB347; /* hex code (255, 179, 71) */
$third-color: #0f81da;
$fourth-color: #4793ff;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: $fourth-color;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 2fr 4fr 2fr;
    grid-template-areas: 
    "header header header"
    "navbar main aside"
    "footer footer footer";
    
}

.header {
    background-color: $primary-color;
    grid-area: header;
}

.navbar {
    background-color: $secondary-color;
    grid-area: navbar;
}

.main-content {
    background-color: purple;
    grid-area: main;
}

.aside-bar {
    background-color: tan;
    grid-area: aside;
}

.footer {
    background-color: aqua;
    grid-area: footer;
}